
@{
    ViewBag.Title = "Ticket";
}

<section id="price" class="p_3">
    <div class="container-xl">
        <div class="price_1 row">
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">Regular</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$14<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-black p-4">
                        <h3 class="text-white">Premium</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-dark pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$21<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-black">
                        <ul class="mb-0 text-white-50">
                            <li>3 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">VIP</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$32<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>5 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="price_1 row mt-4">
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">Trending</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$17<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-black p-4">
                        <h3 class="text-white">Popular</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-dark pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$24<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-black">
                        <ul class="mb-0 text-white-50">
                            <li>3 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">New</h3>
                        <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consecte.</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">$29<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>5 box of popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Talk to the actor</li>
                            <li class="mt-2">1x photo with actor</li>
                            <li class="mt-2">Free Souvenirs</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="trend_o" class="p_3 px_4  bg-light">
    <div class="container-fluid">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3">New Upcoming Movies</h6>
                <h1 class="mb-0 font_50">Movies Coming Soon</h1>
            </div>
        </div>
        <div class="row trend_2">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/21.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">The Fifth Day</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/22.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Animation / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Black &amp; White</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/23.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Thriller / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Scariest Game</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/24.png" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Romance / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">New Day Dreams</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="#">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row trend_o1 mt-4 w-75 mx-auto">
            <div class="col-md-12">
                <div class="trend_o1i1 bg_backn pt-5 pb-5 px-4">
                    <div class="trend_o1i1i row">
                        <div class="col-md-8">
                            <div class="trend_o1i1il pt-4">
                                <h2 class="mb-0 text-white">
                                    40% Discount for Students
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="trend_o1i1ir text-end">
                                <h6 class="mb-0 mt-4"><a class="button_3" href="#">Book Your Ticket</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

