@model List<MovieTicketBooking.Models.TheaterModel>

@{
    ViewBag.Title = "Book Ticket";
}

<a href="/Home/Ticket" class="btn btn-secondary mt-3">← Back to Pricing</a>

<section>
    <div class="blog_1dt4 mt-4">
        <div class="blog_1dt4i row">
            <div class="col-md-3 col-3">
                <div class="blog_1dt4il">
                    <img src="~/Content/img/6.jpg" style="height: 350px; width:400px; object-fit:cover;" alt="abc">
                </div>
            </div>
            <div class="col-md-1 col-1"></div>
            <div class="col-md-8 col-8">
                <div class="blog_1dt4ir">
                    <h2 class="mb-4">Bhool Chuk Maaf - (Hindi)</h2>
                    <span class="badge bg-secondary me-2">UA13+</span>
                    <span class="badge bg-primary me-2">Comedy</span>
                    <span class="badge bg-info">Romantic</span>
                    <h6 class="col_oran font_14">01TH June 2025</h6>
                </div>
                <div class="sc-ycjzp1-1 Jqofz">
                    <div class="sc-ycjzp1-3 cnzbAh">
                        <h5 class="sc-ycjzp1-4 jeTxcB">8.6/10        (72.2K Votes)</h5>
                        <button class="sc-8f9mtj-0 sc-8f9mtj-1 sc-ycjzp1-8 cUKDnO jSoRKh bkueUX">
                            <span>Rate now</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
    

    

