﻿﻿
@{
    ViewBag.Title = "ContactUs";
}

<section id="contact" class="p_3">
    <div class="container-xl">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3">Contact With Us</h6>
                <h1 class="mb-0 font_50">
                    Feel Free to Write us <br>
                    Anytime
                </h1>
            </div>
        </div>
        <div class="blog_1dt5i row w-75 mx-auto">
            <div class="col-md-6">
                <div class="blog_1dt5il">
                    <input class="form-control" placeholder="Your Name" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog_1dt5il">
                    <input class="form-control" placeholder="Email Address" type="text">
                </div>
            </div>
        </div>
        <div class="blog_1dt5i row mt-4 w-75 mx-auto">
            <div class="col-md-6">
                <div class="blog_1dt5il">
                    <input class="form-control" placeholder="Phone" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog_1dt5il">
                    <input class="form-control" placeholder="Subject" type="text">
                </div>
            </div>
        </div>
        <div class="blog_1dt5i row mt-4 w-75 mx-auto">
            <div class="col-md-12">
                <div class="blog_1dt5il">
                    <textarea placeholder="Write a Comment" class="form-control form_text"></textarea>
                    <h6 class="mb-0 mt-4 text-center"><a class="button_2" href="#">Send a Message</a></h6>
                </div>
            </div>
        </div>
        <div class="row contact_1 mt-4">
            <div class="col-md-4">
                <div class="contact_1i shadow_box p-5 px-4">
                    <div class="contact_1i1 row">
                        <div class="col-md-9">
                            <div class="contact_1i1l">
                                <h4 class="mb-3">About</h4>
                                <p class="mb-0">Morbi ut tellus ac leo mol stie luctus nec vehicula sed</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="contact_1i1r">
                                <span class="font_50 col_oran"><i class="fa fa-user-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact_1i shadow_box p-5 px-4">
                    <div class="contact_1i1 row">
                        <div class="col-md-9">
                            <div class="contact_1i1l">
                                <h4 class="mb-3">Address</h4>
                                <p class="mb-0">68 Road Broklyn Street, New York, UnitedStates of America</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="contact_1i1r">
                                <span class="font_50 col_oran"><i class="fa fa-map"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact_1i shadow_box p-5 px-4">
                    <div class="contact_1i1 row">
                        <div class="col-md-9">
                            <div class="contact_1i1l">
                                <h4 class="mb-3">Contact</h4>
                                <h6><a href="#">+(91) 345 67 89</a></h6>
                                <h6><a href="#">info@gmail.com</a></h6>
                                <h6 class="mb-0"><a href="#">info@gmail.com</a></h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="contact_1i1r">
                                <span class="font_50 col_oran"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact_2 mt-4">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.6557929248047!2d72.82542481000374!3d19.38405124215552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7afa8d8243e91%3A0xf44039c313affd00!2sCorporatehunt%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1748857230207!5m2!1sen!2sin" height="460" style="border:0; width:100%;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>